h1
{
    color: red;
    text-align: center;
}
h2 {
	text-align: center;
}

li
{
	font-size: 1.3em;
	font-family: : arial;
}

* {
	font-family: courrier new;
	font-style: normal;
	font-weight: normal;
}

h4 {
	text-align: right;
}