* {
	font-family: courrier new;
	font-style: normal;
	font-weight: normal;
}

h1
{
    color: red;
    text-align: center;
}

h2 {
	text-align: center;
}



h4 {
	text-align: right;
}

p {
	text-align: justify;
}

li
{
	font-size: 1.3em;
	font-family: : arial;
}

.alkor {
	float: left;
}
#alkortitre {
	font-weight: bold;
	font-size: 2em;
}



